### Java ###
# Archivos compilados
*.class

# Archivos de paquete
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Archivos de log
*.log

### IntelliJ IDEA ###
.idea/
*.iml
*.iws
*.ipr
out/
.idea_modules/
/out/

# Pero mantener las carpetas de salida de test y main
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### Documentación generada ###
/JavaDoc/